.App {
  text-align: center;
}

.errors {
  color: red;
  font-size: 12px;
}

form {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

.sign-up-form {
  border: 1px solid black;
  max-width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  background: pink;
}

@media(max-width: 500px) {
  .sign-up-form {
    max-width: 70%;
  }
}

button {
  max-width: 20%;
  margin: 1% auto;
}

button:hover {
  background: black;
  color: white;
}

input {
  margin: 1%;
}

input:hover {
  background: black;
  color: white;
}